<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("/image/logo_Site.png")" title="Live With Ayurveda" alt="Live With Ayurveda" class="img-responsive" /></a>
                  </div>
      </div>
      <div class="col-sm-5"><div id="search" class="input-group">
  <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </span>
</div>      </div>
      <div class="col-sm-3">
      @Html.Action("CartOnFly", "ShoppingCart")
      @*<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">0 item(s) - $0.00</span></button>
  <ul class="dropdown-menu pull-right">
        <li>
      <p class="text-center">Your shopping cart is empty!</p>
    </li>
      </ul>
</div>*@
</div>
    </div>
  </div>
</header>
