@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            <button type="submit" form="formData" data-toggle="tooltip" title="Save"
                class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
            <a href="@Url.Action("Groups","Attributes")"
                data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply">
                </i></a>
        </div>
        <h1>
            Attribute Groups</h1>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Dashboard")">
                Home</a></li>
            <li><a href="@Url.Action("Groups","Attributes")">
                Attribute Groups</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-pencil"></i>Add Attribute Group</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Add", "Attributes", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "formData", @class = "form-horizontal" }))
            {
            <div class="form-group required">
                <label class="col-sm-2 control-label">
                    Attribute Group Name</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                           &nbsp;</span>
                        <input type="text" name="attribute_group_description[1][name]" value="" placeholder="Attribute Group Name"
                            class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">
                    Sort Order</label>
                <div class="col-sm-10">
                    <input type="text" name="sort_order" value="" placeholder="Sort Order" id="input-sort-order"
                        class="form-control" />
                </div>
            </div>
            }
        </div>
    </div>
</div>
