@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            <button type="submit" form="formData" data-toggle="tooltip" title="Save"
                class="btn btn-primary">
                <i class="fa fa-save"></i>
            </button>
            <a href="@Url.Action("Index", "Information")"
                data-toggle="tooltip" title="Cancel" class="btn btn-default"><i class="fa fa-reply">
                </i></a>
        </div>
        <h1>
            Information</h1>
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index", "DashBoard")">Home</a></li>
            <li><a href="@Url.Action("Index", "Information")">Information</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-pencil"></i>Add Information</h3>
        </div>
        <div class="panel-body">
             @using (Html.BeginForm("Add", "Information", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "formData", @class = "form-horizontal" }))
            {
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">General</a></li>
                <li><a href="#tab-data" data-toggle="tab">Data</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-general">
                     
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-title1">
                                    Information Title</label>
                                <div class="col-sm-10">
                                    <input type="text" name="information_description[1][title]" value="" placeholder="Information Title"
                                        id="input-title1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-description1">
                                    Description</label>
                                <div class="col-sm-10">
                                    <textarea name="information_description[1][description]" placeholder="Description"
                                        id="input-description1" class="form-control summernote"></textarea>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-meta-title1">
                                    Meta Tag Title</label>
                                <div class="col-sm-10">
                                    <input type="text" name="information_description[1][meta_title]" value="" placeholder="Meta Tag Title"
                                        id="input-meta-title1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-meta-description1">
                                    Meta Tag Description</label>
                                <div class="col-sm-10">
                                    <textarea name="information_description[1][meta_description]" rows="5" placeholder="Meta Tag Description"
                                        id="input-meta-description1" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-meta-keyword1">
                                    Meta Tag Keywords</label>
                                <div class="col-sm-10">
                                    <textarea name="information_description[1][meta_keyword]" rows="5" placeholder="Meta Tag Keywords"
                                        id="input-meta-keyword1" class="form-control"></textarea>
                                </div>
                            </div>
                        
                </div>
                <div class="tab-pane" id="tab-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            Stores</label>
                        <div class="col-sm-10">
                            <div class="well well-sm" style="height: 150px; overflow: auto;">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="information_store[]" value="0" checked="checked" />
                                        Default
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-bottom">
                            <span data-toggle="tooltip" title="Display in the bottom footer.">Bottom</span></label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="bottom" value="1" id="input-bottom" />
                                    &nbsp;
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">
                            Status</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                <option value="1" selected="selected">Enabled</option>
                                <option value="0">Disabled</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">
                            Sort Order</label>
                        <div class="col-sm-10">
                            <input type="text" name="sort_order" value="" placeholder="Sort Order" id="input-sort-order"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                
            </div>
           }
        </div>
    </div>
</div>

